@tailwind base;
@tailwind components;
@tailwind utilities;


.switch svg {
  padding: 3px;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: gray; 
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  @apply !bg-primary dark:!bg-secundary;
  border-radius: 10px;
  border: 3px solid gray;
}

.social-header svg {
  font-size: 20px;
}

.slick-prev:before, .slick-next:before, .slick-dots li.slick-active button:before, .slick-dots li button:before {
  
  @apply !text-primary dark:!text-secundary;
  
}

.highligt .slick-prev:before, .highligt .slick-next:before {
  display: none!important;
}

.highligt .slick-prev:before, .highligt .slick-next:before, .highligt .slick-dots li.slick-active button:before, .highligt .slick-dots li button:before {
  @apply !text-primary dark:!text-secundary;
  font-size: 15px !important;
}


.highligt .slick-slide>div {
  margin: 0 !important;
  padding: 0 !important;
}

.slick-slide>div {
  margin: 0 6px;
}

.openform {
position: absolute !important;
top: 0 !important;
left: 0 !important;
width: 100% !important;
height: 100vh !important;
}

.button {
  @apply rounded-md border-[1px] border-primary/50 hover:border-secundary hover:bg-primary dark:hover:bg-primary hover:text-white px-2 text-primary dark:text-secundary dark:hover:text-white dark:border-secundary/50 md:px-3 md:text-lg md:font-bold z-20 text-center
}

.input {
  @apply  w-[80%] max-w-[600px] cursor-pointer rounded-lg  border-[1px] border-zinc-400  p-1 text-center font-bold placeholder-textlight outline-none focus:ring-0 dark:border-zinc-700  dark:placeholder-textdark mb-3
}



@layer base {
  body {
    @apply dark:bg-bgdark bg-bglight dark:text-textdark text-textlight;
  }
}
